* {
    /* border: 0.1px solid black; */
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
}

#welcome-section {
    height: 610px;
    background-image: url('../images/space.jpg');
    background-size: cover;
}

#navbar {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1;
    background-color: darkgrey;
    margin: 0;
}

#navbar li {
    display: inline-block;
    padding: 10px 20px;
}

#welcome-section h1 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 250px;
    font-size: 50px;
} 

#projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    grid-gap: 20px;

    text-align: center;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
}

.project-tile {
    height: 200px;
    background-color: red;
    color: white;
    border-radius: 25px;
}

footer {
    width: 100%;
    background-color: darkgrey;

    margin-top: 180px;

    text-align: center;
    
}

footer li {
    display: inline-block;
    padding: 10px 20px;


}



